/* login.css */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #0061ff, #60efff);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
.card h4 {
    margin-top: -50px;
}
/* Tombol custom */
.btn-primary-custom {
    background-color: #0061ff;
    color: #ffffff;
    border: none;
}

.btn-primary-custom:hover {
    background-color: #004bcc;
}
.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px;
}

/* Responsive untuk layar HP */
@media (max-width: 576px) {
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        padding: 50px 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
    }

    .card {
        margin: auto;
        padding: 150px 30px;
        max-width: 95%;
        border-radius: 16px;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    }

    h4 {
        font-size: 38px;
        margin-bottom: 30px;
        text-align: center;
    }

    .form-label {
        font-size: 30px;
        margin-bottom: 12px;
    }

    .form-control {
        font-size: 22px;
        padding: 16px 14px;
        border-radius: 12px;
    }

    .input-group-text {
        font-size: 22px;
        padding: 16px;
    }

    .btn {
        padding: 16px;
        font-size: 30px;
        border-radius: 12px;
    }

    .btn-primary-custom {
        font-size: 30px;
        padding: 16px;
        border-radius: 12px;
    }

    .alert-danger {
        font-size: 20px;
        padding: 16px;
        border-radius: 12px;
    }

    .daftar {
        font-size: 30px;
        margin-top: 30px;
        text-align: center;
    }

    .daftar a {
        font-size: 30px;
        font-weight: 600;
    }
    .logo {
        width: 150px;
        height: auto;
        margin-bottom: 30px;
    }
}
